footer {
  border-top: 3px solid $color-orange;
  .row {
    background-color: $color-blue-dark;
  }
  
  h3 {
    color: $color-grey;
    border-bottom: 1px solid $color-grey;
    text-transform: uppercase;
  }

  a {
    &:link{ 
      color: $color-white;
      border-bottom: none;
    }
    &:visited{
      color: $color-white; 
      border-bottom: none;
    }
    &:hover{
      color: $color-orange; 
      border-bottom: none;
    }
    &:active{
      color: $color-orange; 
      border-bottom: none;
    }
  }

  ul {

    margin: 0;

    li {
      list-style-type: none;
      padding-right: 5px;
      color: $color-white;

      a:hover {
          border-bottom: 1px dashed $color-orange;
      }
      
      &:after {
        padding-left: 5px;
      }
    }  
  }
} // END footer

#footer-address {
  margin-top: 4%;
}

#footer-columns{
  margin-bottom: 30px;
}

#footer-google {
  color: $color-grey;
}

#circle-monogram {
  width: 40px;
  height: 40px;
  position: relative;
  top: -20px;
  left: 50%;
}

.no-svg #circle-monogram {
  display: block;
  height: 39px;
  width: 39px;
  background: url('images/png/uf_circle_monogram.png');
}

// logo in footer
#svg-footer {
  width: 100%;
  height: 100%;
  margin-bottom: 1em;

  .divider {
    fill: $color-orange;
  }

  .uf, .timeline, .university, .of, .florida {
    fill: $color-white;
  }
}

.no-svg #svg-footer {
  display: block;
  height: 60px;
  width: 218px;
  background: url('images/png/uf_signature-footer.png');
}

//---------->
// BREAK-POINT
//---------->

@include breakpoint( tablet-large ) {
  footer {
    .row .row {
      margin: 0 auto;
      width: 95%;
      text-align: center;

      ul li {
        float: none;

        &:after {
          content: "";
          padding-left: 0;
        }
      }
    }

    #footer-search-social, #footer-columns, #make-gift {
      display: none;
    }
  }
}