.staff-profile {
  overflow: auto;
  float: left;
  width: 50%;
  margin-bottom: 1.5em;
  img {
    float: left; 
    margin-right: 15px;
  }
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0.5em 0;
    font-style: italic;
    color: $color-blue-med;
  }
}